* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    text-decoration: underline;
}

main {
    display: grid;
    height: 100dvh;
    background-color: rgb(40, 40, 40);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-rows: 50px 600px;
    grid-template-columns: 600px;
    gap: 2rem;
}

.gameContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: darkcyan;
    border-radius: 10px;
    overflow: hidden;
    gap: 5px;
}

.cell {
    background-color: rgb(180, 180, 180);
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

.cell:hover.free {
    background-color: rgb(150, 150, 150);
}